spring:
  application:
    name: event-management-api

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    open-in-view: false

server:
  port: ${PORT:8080}
  servlet:
    context-path: /api

app:
  jwt:
    secret: event-management-secret-key-min-256-bits-required-for-hs256-algorithm
    expiration-ms: 86400000

logging:
  level:
    com.eventmanagement: DEBUG
    org.hibernate.SQL: DEBUG


